.user-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-form .form-group {
    margin-bottom: 15px;
  }
  
  .user-form .btn {
    margin-right: 10px;
  }
  
  .user-form .btn-primary {
    margin-top: 10px; 
  }
  
  .user-form .btn-danger {
    margin-top: 10px;
  }
  
/* Mudei o nome para não brigar com o Bootstrap */
.login-background {
    /* Gradiente preto 60% + Imagem */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/images/bg/background_escola.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Garante que o fundo ocupe tudo se o conteúdo for pequeno */
    min-height: 100vh; 
    width: 100%;
}