.tela {
    display: flex;
    height: 100vh; /* Garante que o container ocupe toda a altura da tela */
    flex-grow: 1;
}

.main
.calendario {
    flex-grow: 1;
    overflow: auto;
    background-color: #ffffff;
    height: 100%; /* Alterado para 100% para garantir que ocupe toda a altura do container */
}

.toolbar {
    height: 100vh;
    width: 20%;
    min-width: 300px;
    color: #333333;
    background-color: #e9e9e9;
    border-right: 1px solid #777777;
}

/* HEADER MOD */
.toolbar-container {
    display: flex;
    height: 10vh;
    align-items: center;
    padding-left: 50px;
}

.mesAno {
    width: 50%;
    color: #333333;
    justify-content: flex-start;
}

.dirtop {
    width: 50%;
    justify-content: end;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

/* Calendário */
/* Header e botões */
.rbc-toolbar {
    height: 10vh;
    color: #333333;
    font-size: 25px;
}

.rbc-btn-group > button {
    border: 0;
}

.rbc-toolbar button {
    color: #333333;
    border: 1px solid #999999;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: #d9d9d9;
    border-color: #777777;
}

/* Corpo */
/* Linhas */
.rbc-month-view {
    border-color: #cccccc;
}

.rbc-month-row + .rbc-month-row {
    border-color: #bbbbbb;
}

.rbc-day-bg + .rbc-day-bg {
    border-color: #bbbbbb;
}

/* Mês */
.rbc-header {
    color: #333333;
    border-color: #bbbbbb;
}

.rbc-header + .rbc-header {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #bbbbbb;
}

.rbc-off-range-bg {
    background-color: #f0f0f0;
}

.rbc-today {
    background-color: #e0e0e0;
}

.rbc-button-link {
    margin: 5px;
    font-size: 15px;
    color: #333333;
}

.rbc-off-range .rbc-button-link {
    color: #aaaaaa;
}

.rbc-now .rbc-button-link {
    background-color: #d9534f;
    color: #ffffff;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px;
    font-size: 16px;
}

.rbc-time-content, .rbc-time-content > .rbc-day-slot, .rbc-timeslot-group, .rbc-time-slot {
    color: #333333;
    border-color: #cccccc;
}

.rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #e0e0e0;
}

/* Agenda */
.rbc-agenda-content, .rbc-agenda-view {
    color: #333333;
}

.rbc-agenda-date-cell, .rbc-agenda-time-cell {
    background-color: #ffffff;
}

.rbc-agenda-event-cell {
    border-radius: 20px;
    font-weight: bold;
    color: #333333;
    background-color: #e9e9e9;
}
