
.sidebarArea {
  flex-shrink: 0;
  width: 250px; 
  background-color: #f8f9fa; 
}

.sidebarArea .sidenav-bg:hover {
  background-color: #f1f3f5; 
  border-radius: 5px; 
}

.sidebarArea .sidenav-bg .active {
  background-color: #17a2b8; 
  border-radius: 5px; 
  color: white;
}


@media (max-width: 991px) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 1;
    margin-left: -250px; 
    transition: 0.2s ease-in;
  }

  .sidebarArea.showSidebar {
    margin-left: 0px;
  }
}